In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("world_happiness_2021.xlsx")

In [3]:
df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [4]:
df = df.rename({'Country name':'country'}, axis='columns')
df

,country,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [5]:
df.drop(['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Regional indicator', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual'], axis=1, inplace=True)
df

,country,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
1,Denmark,7.620,10.933,0.954,72.700,0.946,0.030,0.179
2,Switzerland,7.571,11.117,0.942,74.400,0.919,0.025,0.292
3,Iceland,7.554,10.878,0.983,73.000,0.955,0.160,0.673
4,Netherlands,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
144,Lesotho,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
145,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
146,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167
147,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
148,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [6]:
df['country'].explode().unique().tolist()

['Finland',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Netherlands',
 'Norway',
 'Sweden',
 'Luxembourg',
 'New Zealand',
 'Austria',
 'Australia',
 'Israel',
 'Germany',
 'Canada',
 'Ireland',
 'Costa Rica',
 'United Kingdom',
 'Czech Republic',
 'United States',
 'Belgium',
 'France',
 'Bahrain',
 'Malta',
 'Taiwan Province of China',
 'United Arab Emirates',
 'Saudi Arabia',
 'Spain',
 'Italy',
 'Slovenia',
 'Guatemala',
 'Uruguay',
 'Singapore',
 'Kosovo',
 'Slovakia',
 'Brazil',
 'Mexico',
 'Jamaica',
 'Lithuania',
 'Cyprus',
 'Estonia',
 'Panama',
 'Uzbekistan',
 'Chile',
 'Poland',
 'Kazakhstan',
 'Romania',
 'Kuwait',
 'Serbia',
 'El Salvador',
 'Mauritius',
 'Latvia',
 'Colombia',
 'Hungary',
 'Thailand',
 'Nicaragua',
 'Japan',
 'Argentina',
 'Portugal',
 'Honduras',
 'Croatia',
 'Philippines',
 'South Korea',
 'Peru',
 'Bosnia and Herzegovina',
 'Moldova',
 'Ecuador',
 'Kyrgyzstan',
 'Greece',
 'Bolivia',
 'Mongolia',
 'Paraguay',
 'Montenegro',
 'Dominican Republic',
 'North Cyprus',
 'Belarus',
 'Russia',
 'Hong Kong S.A.R. of China',
 'Tajikistan',
 'Vietnam',
 'Libya',
 'Malaysia',
 'Indonesia',
 'Congo (Brazzaville)',
 'China',
 'Ivory Coast',
 'Armenia',
 'Nepal',
 'Bulgaria',
 'Maldives',
 'Azerbaijan',
 'Cameroon',
 'Senegal',
 'Albania',
 'North Macedonia',
 'Ghana',
 'Niger',
 'Turkmenistan',
 'Gambia',
 'Benin',
 'Laos',
 'Bangladesh',
 'Guinea',
 'South Africa',
 'Turkey',
 'Pakistan',
 'Morocco',
 'Venezuela',
 'Georgia',
 'Algeria',
 'Ukraine',
 'Iraq',
 'Gabon',
 'Burkina Faso',
 'Cambodia',
 'Mozambique',
 'Nigeria',
 'Mali',
 'Iran',
 'Uganda',
 'Liberia',
 'Kenya',
 'Tunisia',
 'Lebanon',
 'Namibia',
 'Palestinian Territories',
 'Myanmar',
 'Jordan',
 'Chad',
 'Sri Lanka',
 'Swaziland',
 'Comoros',
 'Egypt',
 'Ethiopia',
 'Mauritania',
 'Madagascar',
 'Togo',
 'Zambia',
 'Sierra Leone',
 'India',
 'Burundi',
 'Yemen',
 'Tanzania',
 'Haiti',
 'Malawi',
 'Lesotho',
 'Botswana',
 'Rwanda',
 'Zimbabwe',
 'Afghanistan']

In [7]:
df["country"] = df["country"].apply(lambda x: x.replace("Slovenia", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("Croatia", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("Bosnia and Herzegovina", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("Serbia", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("Montenegro", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("North Macedonia", "Yugoslavia"))
df["country"] = df["country"].apply(lambda x: x.replace("Hong Kong S.A.R. of China", "Hong Kong"))
df["country"] = df["country"].apply(lambda x: x.replace("Taiwan Province of China", "Taiwan"))
#df["country"] = df["Country"].apply(lambda x: x.replace("", ""))
#df["country"] = df["Country"].apply(lambda x: x.replace("", ""))
#df["country"] = df["Country"].apply(lambda x: x.replace("", ""))

In [8]:
df['country'].explode().unique().tolist()

['Finland',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Netherlands',
 'Norway',
 'Sweden',
 'Luxembourg',
 'New Zealand',
 'Austria',
 'Australia',
 'Israel',
 'Germany',
 'Canada',
 'Ireland',
 'Costa Rica',
 'United Kingdom',
 'Czech Republic',
 'United States',
 'Belgium',
 'France',
 'Bahrain',
 'Malta',
 'Taiwan',
 'United Arab Emirates',
 'Saudi Arabia',
 'Spain',
 'Italy',
 'Yugoslavia',
 'Guatemala',
 'Uruguay',
 'Singapore',
 'Kosovo',
 'Slovakia',
 'Brazil',
 'Mexico',
 'Jamaica',
 'Lithuania',
 'Cyprus',
 'Estonia',
 'Panama',
 'Uzbekistan',
 'Chile',
 'Poland',
 'Kazakhstan',
 'Romania',
 'Kuwait',
 'El Salvador',
 'Mauritius',
 'Latvia',
 'Colombia',
 'Hungary',
 'Thailand',
 'Nicaragua',
 'Japan',
 'Argentina',
 'Portugal',
 'Honduras',
 'Philippines',
 'South Korea',
 'Peru',
 'Moldova',
 'Ecuador',
 'Kyrgyzstan',
 'Greece',
 'Bolivia',
 'Mongolia',
 'Paraguay',
 'Dominican Republic',
 'North Cyprus',
 'Belarus',
 'Russia',
 'Hong Kong',
 'Tajikistan',
 'Vietnam',
 'Libya',
 'Malaysia',
 'Indonesia',
 'Congo (Brazzaville)',
 'China',
 'Ivory Coast',
 'Armenia',
 'Nepal',
 'Bulgaria',
 'Maldives',
 'Azerbaijan',
 'Cameroon',
 'Senegal',
 'Albania',
 'Ghana',
 'Niger',
 'Turkmenistan',
 'Gambia',
 'Benin',
 'Laos',
 'Bangladesh',
 'Guinea',
 'South Africa',
 'Turkey',
 'Pakistan',
 'Morocco',
 'Venezuela',
 'Georgia',
 'Algeria',
 'Ukraine',
 'Iraq',
 'Gabon',
 'Burkina Faso',
 'Cambodia',
 'Mozambique',
 'Nigeria',
 'Mali',
 'Iran',
 'Uganda',
 'Liberia',
 'Kenya',
 'Tunisia',
 'Lebanon',
 'Namibia',
 'Palestinian Territories',
 'Myanmar',
 'Jordan',
 'Chad',
 'Sri Lanka',
 'Swaziland',
 'Comoros',
 'Egypt',
 'Ethiopia',
 'Mauritania',
 'Madagascar',
 'Togo',
 'Zambia',
 'Sierra Leone',
 'India',
 'Burundi',
 'Yemen',
 'Tanzania',
 'Haiti',
 'Malawi',
 'Lesotho',
 'Botswana',
 'Rwanda',
 'Zimbabwe',
 'Afghanistan']

In [9]:
df.to_excel('clean_happiness_df.xlsx', index = False)

In [10]:
df2 = pd.read_excel("Census_Data.xlsx")
df2

,ID,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income,native-country
0,1,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,<=50K,United-States
1,2,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,<=50K,United-States
2,3,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,>50K,United-States
3,4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,>50K,United-States
4,5,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,<=50K,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,48838,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,<=50K,United-States
48838,48839,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,>50K,United-States
48839,48840,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,<=50K,United-States
48840,48841,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,<=50K,United-States
48841,48842,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,>50K,United-States

In [11]:
df2 = df2.rename({'native-country':'country'}, axis='columns')
df2

,ID,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income,country
0,1,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,<=50K,United-States
1,2,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,<=50K,United-States
2,3,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,>50K,United-States
3,4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,>50K,United-States
4,5,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,<=50K,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,48838,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,<=50K,United-States
48838,48839,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,>50K,United-States
48839,48840,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,<=50K,United-States
48840,48841,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,<=50K,United-States
48841,48842,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,>50K,United-States

In [12]:
df2["country"] = df2["country"].apply(lambda x: x.replace("Dominican-Republic", "Dominican Republic"))
df2["country"] = df2["country"].apply(lambda x: x.replace("El-Salvador", "El Salvador"))
df2["country"] = df2["country"].apply(lambda x: x.replace("England", "United Kingdom"))
df2["country"] = df2["country"].apply(lambda x: x.replace("Holand-Netherlands", "Netherlands"))
df2["country"] = df2["country"].apply(lambda x: x.replace("Hong", "Hong Kong"))
df2["country"] = df2["country"].apply(lambda x: x.replace("Scotland", "United Kingdom"))
df2["country"] = df2["country"].apply(lambda x: x.replace("South", "South Korea"))
df2["country"] = df2["country"].apply(lambda x: x.replace("United-States", "United States"))
df2["workclass"] = df2["workclass"].apply(lambda x: x.replace("?", "Unknown"))
df2["occupation"] = df2["occupation"].apply(lambda x: x.replace("?", "Unknown"))

In [14]:
df2.drop(['education-num', 'relationship', 'capital-gain', 'capital-loss', 'workclass', 'fnlwgt'], axis=1, inplace=True)
df2

,ID,age,education,marital-status,occupation,race,sex,hours-per-week,income,country
0,1,25,11th,Never-married,Machine-op-inspct,Black,Male,40,<=50K,United States
1,2,38,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,<=50K,United States
2,3,28,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,>50K,United States
3,4,44,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,>50K,United States
4,5,18,Some-college,Never-married,Unknown,White,Female,30,<=50K,United States
...,...,...,...,...,...,...,...,...,...,...
48837,48838,27,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,38,<=50K,United States
48838,48839,40,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,>50K,United States
48839,48840,58,HS-grad,Widowed,Adm-clerical,White,Female,40,<=50K,United States
48840,48841,22,HS-grad,Never-married,Adm-clerical,White,Male,20,<=50K,United States
48841,48842,52,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,40,>50K,United States

In [15]:
# Export transformed file to excel
df2.to_excel('clean_census_df.xlsx', index=False)

In [16]:
# join the two tables
combined_df = pd.merge(df2, df, on="country", how="left")
combined_df

,ID,age,education,marital-status,occupation,race,sex,hours-per-week,income,country,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,25,11th,Never-married,Machine-op-inspct,Black,Male,40,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
1,2,38,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
2,3,28,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
3,4,44,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
4,5,18,Some-college,Never-married,Unknown,White,Female,30,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48952,48838,27,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,38,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48953,48839,40,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48954,48840,58,HS-grad,Widowed,Adm-clerical,White,Female,40,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48955,48841,22,HS-grad,Never-married,Adm-clerical,White,Male,20,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48956,48842,52,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698

In [17]:
list(combined_df)

['ID',
 'age',
 'education',
 'marital-status',
 'occupation',
 'race',
 'sex',
 'hours-per-week',
 'income',
 'country',
 'Ladder score',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [18]:
drop_df = combined_df.dropna()
drop_df

,ID,age,education,marital-status,occupation,race,sex,hours-per-week,income,country,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,25,11th,Never-married,Machine-op-inspct,Black,Male,40,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
1,2,38,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
2,3,28,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
3,4,44,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
4,5,18,Some-college,Never-married,Unknown,White,Female,30,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48952,48838,27,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,38,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48953,48839,40,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48954,48840,58,HS-grad,Widowed,Adm-clerical,White,Female,40,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48955,48841,22,HS-grad,Never-married,Adm-clerical,White,Male,20,<=50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698
48956,48842,52,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,40,>50K,United States,6.951,11.023,0.92,68.2,0.837,0.098,0.698

In [21]:
# Export transformed file to excel
drop_df.to_csv('clean_combined_df.csv', index=False)